[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "pipenv run uvicorn src.main:app --reload --port 8080"

[packages]
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.8"
